# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:

+ able to use jupyter notebook basic command
+ able to code write markdown in jupyter notebook
+ list the popular langagues for Data Science

Some of the Popular languages that Data Scientist use are:

1. Python
2. Julia
3. R
4. C++

Some of the commonly used libraries used by Data Scientist include:
1. Numpy
2. Scipy
3. Matplotlib
4. ggplot
5. plotly

| Data Science Tool |
| ----------------- |
| Anaconda  |
| Google Colab |
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to Hours by dividing by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Wahyu Bornok Augus Sinurat